    
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add a new book</h1>

	  <form action="#" th:action="@{../save}" th:object="${book}" method="post">
	  
		<p>ID: <input id="id" type="text" th:field="*{id}" /></p>
        <p>Author: <input id="author" type="text" th:field="*{author}" /></p>
        <p>Title: <input id="title" type="text" th:field="*{title}" /></p>
        <p>ISBN: <input id="isbn" type="text" th:field="*{isbn}" /></p>
        <p>Price: <input id="price" type="text" th:field="*{price}" /></p>
		<p><input type="submit" value="Submit" th:value="Save" /> 
    </form>

</body>

</html>
