    
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    
</head>
<body>
	<h1>Books</h1>
    <table class="table table-striped">

		    <th>Author</th>
		    <th>Name</th>
		    <th>ISBN</th>
		    <th>Price</th>
		    <th>ID</th>
		    
    	<tr th:each = "book : ${books}">    
		<td th:text="${book.title}"> <button>onClick=""</button></td>
		<td th:text="${book.author}"></td>
		<td th:text="${book.isbn}"></td>
		<td th:text="${book.price}"></td>
		<td th:text="${book.id}"></td>
		<td> <button type="button" class="btn btn-danger" > <a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></button></td> 
		<td> <button type="button" class="btn btn-danger" > <a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></button></td>
	
			
    	</tr>
     </table>
    <button type="button" class="btn btn-success"> <a href = "/add">Add a new book </a> </button>
     
     
</body>
</html>